<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.paypalspringbootdemo.mapper.PayProduceDeductionPlanMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plan_no, plan_name, description, interval_unit, interval_count, currency_code, value, total_cycles, sequence, tenure_type, setup_fee, country, product_id, create_time, end_time
    </sql>

</mapper>
